*,*::after,*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content {
    display: flex;
    flex-direction: column;
}

.navbar {
    border: 5px solid green;
    height: 70px;
    width: 100vw;
    display: flex;
}
.homepage {
    height: 700px;
    display: flex;
    gap: 20px;
    font-style: italic;
    align-items: center;
    justify-content: center;

}
.w {
    color: red;
    padding: 10px;
    font-size: 40px;
}

.tabs {
    border: 5px solid green;
    color: red;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    font-size: 30px;
    padding: 10px;
}

#home, #collection, #contact {
    font-size: 30px;
    border: none;
    color: red;
    background-color: black;
    cursor: pointer;
}

#home:hover, #collection:hover, #contact:hover {
    border-bottom: 2px solid red;
}

#winebackground {
    height: 486px;
    width: 270px;
}

.home-text {
    color: white;
}

.footer {
    background-color: #800000;
    border: 5px solid green;
    height: 50px;
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: center;
}

.content {
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
}

.container {
    flex: 1;
    border: 5px solid green;
}

html {
    height: 100%;
}
body {
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
}
.footer {
    grid-row-start: 2;
    grid-row-end: 3;
}

#githubpng {
    height: 30px;
    width: 30px;
    transition: 1s ease;
}

#githubpng:hover {
    height: 33px;
    width: 33px;
}